<app-header></app-header>
<div class="container">
  <form style="width: 500px;padding: 30px 20px ;display: block; margin: 150px auto; background-color: white; border-radius: 5px">
    <div class="auth-title">ثبت نام</div>
    <div class="mb-4">
      <input type="text" class="form-control" id="name" placeholder="نام و نام خانوادگی" name="username" [(ngModel)]="user.name">
    </div>
    <div class="mb-4">
      <input type="email" class="form-control" id="email" placeholder="ایمیل" [(ngModel)]="user.email" name="email">
    </div>
    <div class="mb-4">
      <input type="password" class="form-control" id="password" placeholder="رمز عبور" [(ngModel)]="user.password" name="password">
    </div>
    <div class="mb-4">
      <input type="password" class="form-control" id="againPassword" placeholder="تکرار رمز عبور" name="password">
    </div>
    <div class="mb-4">
      <select class="form-select" name="role" [(ngModel)]="user.role">
        <option selected value="teacher">استاد</option>
        <option value="student">دانشجو</option>
      </select>
    </div>
    <button type="submit" class="btn btn-register" (click)="register()">ثبت نام</button>
    <hr>
    <div class="ex-login">
      آیا قبلا ثبت نام کرده اید؟ برای <a class="click-login" (click)="navigateToLogin()">ورود</a> کلیک کنید.
    </div>
  </form>
</div>
