<app-header></app-header>
<div class="container">
    <div class="row" *ngIf="checkStudentMode && checkStudentMode!='student'">
        <div class="row main-title">
            لیست دروس ارائه شده توسط شما
        </div>
        <div class="row my-5">
            <div class="col-12 col-md-3" *ngFor="let lesson of examRepository.teacherLessons">
                <div class="col-wrapper h-300" (click)="navigateToCreateQuestion(lesson)">
                    <img class="les-cover" src="{{lesson.cover}}" alt="" width="300px" height="180px">
                    <div class="row">
                        <div class="course-name">
                            {{lesson.title}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="teacher-name">
                            {{lesson.description}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row my-5">
        <div class="row main-title">
            لیست کل دروس ارائه شده
        </div>
        <div class="row my-5">
            <div class="col-12 col-md-3 mt-3" *ngFor="let lesson of examRepository.lessons">
                <div class="col-wrapper h-300" (click)="navigateToCreateQuestion(lesson)">
                    <img class="les-cover" src="{{lesson.cover}}" alt="" width="300px" height="180px">
                    <div class="row">
                        <div class="course-name">
                            {{lesson.title}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="teacher-name">
                            استاد: {{lesson.teacher.name}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>